body {
    font-family: Arial, sans-serif;
    background-color: yellow;
    color: #333;
  }
  
  h1 {
    color: #454545;
    text-align: center;
  }
  
  h2 {
    color: #454545;
  }
  
  ul#productList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul#productList li {
    border-bottom: 1px solid #5c5e06;
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  form label {
    display: block;
    color: yellow;
    margin-bottom: 10px;
  }
  
  form input {
    width: 100px;
    padding: 15px;
    margin-bottom: 10px;
  }
  
  .card {
    border: 1px solid yellow;
    padding: 15px;
    margin-bottom: 10px;
  }
  
  .card label {
    display: block;
    color: yellow;
    margin-bottom: 10px;
  }
  
  .card input {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  form button {
    background-color: yellow;
    color: #454545;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: yellow;
  }